@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;

  }
  body {
    font-family: "Montserrat", sans-serif;
    overflow-y: visible;
    position: relative;
    overflow-x: hidden;
  }
  html,
  body {
    margin: 0;
  }

  .pin-spacer > div{
    max-width: 3000px !important;
    width: 3000px !important;
  }
  section{
    margin-bottom: 80px;
  }

  .contact-me {
    margin-top: 8rem; 
  }
  
  @media (min-width: 640px) {
    /* Small (sm) */
    .contact-me {
      margin-top: 8rem; /* 128px */
    }
  }
  
  @media (min-width: 768px) {
    /* Medium (md) */
    .contact-me {
      margin-top: 12rem; /* 192px */
    }
  }
  
  @media (min-width: 1024px) {
    /* Large (lg) */
    .contact-me {
      margin-top: 24rem; /* 384px */
    }
  }
  
  @media (min-width: 1280px) {
    /* Extra Large (xl) */
    .contact-me {
      margin-top: 24rem; /* 512px */
    }
  }
  
  @media (min-width: 1536px) {
    /* 2X Extra Large (2xl) */
    .contact-me {
      margin-top: 24rem; /* 512px */
    }
  }
  